<div class="banner">
    <h1>Hello Cocktails</h1>
</div>

<div class="wrapper">
  <div class="container" style="height: 100vh;">
    <h2 class="text-center">Cocktails</h2>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-6">
          <%= link_to cocktail_path(cocktail) do %>
            <% if cocktail.photo.url %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
                <h3><%= cocktail.name %></h3>
              </div>
            <% else %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://hungrylikeawolfe.files.wordpress.com/2011/09/martini.jpg')">
                <h3><%= cocktail.name %></h3>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to 'créer ton expérience',  new_cocktail_path, class: 'text-center btn btn-success', style: 'display: block; margin-top: 15px;' %>
  </div>
</div>




